<div class="sign-in-container">
    <h2>Connexion</h2>
    <form (submit)="onSubmit()">
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <label for="email">Email</label>
      <input type="email" id="email" required [(ngModel)]="email" name="email" />
  
      <label for="password">password</label>
      <input
        type="password"
        id="password"
        required
        [(ngModel)]="password"
        name="password"
      />
  
      <button type="submit" class="btn btn-signin">sign in</button>
    </form>
  </div>
  
